:root {
    --primary-color: #FFFFFF;
    --accent-color: #C9AC67;
    --background-color: #252320;
    --element-color: #353B4D;
    --text-color: #D5D5D5;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 2rem;
}

h1, h2 {
    font-family: 'Oxanium', serif;
    color: var(--primary-color);
    padding: 0.5rem;
}

section {
    background: var(--element-color);
    padding: 0 2rem 1rem 2rem;
    margin: 20px 0;
    border-radius: 8px;
    border-left: 5px solid var(--accent-color);
}